* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-family: "Helvetica Neue", "Menlo", monspace;
}

html {
}

body, table, tr, td 
{
	border-spacing: 0px;
 	border-collapse: collapse; 
	border-style: none;
	empty-cells: show;
	vertical-align: top;
 
	padding: 0;
	margin: 0;
	color: #000;
	text-align: left;
	font-size: 11px;
	line-height: 13px; 
}

body {
	background-color: #44444b;
	height: 100%;
}

a {
	text-decoration: none;
	color: #ff0000;
}

a:hover	{
	color: #000000; 
}

a::before {
	content: "[";
}

a::after {
	content: "]";
}

textarea {
	background-color: #44444b;
	color: #ffffff;
	border-width: 0px;
	padding: 5px;
	width: 100%;
	resize: none;
}

input {

}

::selection {
	color: white;
	background: red;
}

#page {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* header styles */
#header {
	background-color: #fff;
	padding: 10px;
}

#header:first-child {
}

/* body styles */
#body {
	background-color: #eee;
	/*padding: 10px;*/
}

.parent:empty,
.self:empty {
	display: none;
}

/* parents */

/* self */

/* children */

/* form */

#form-container {
	padding: 10px;
}

.centre {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
/* actions */

.children-container > div:nth-child(2n + 0) {
	background-color: #ddd;
}

.children-container > div:nth-child(2n + 1) {
	background-color: #ccc;
}

.child > span:first-child {
	margin-right: 5px;
}

.child:hover {
	background-color: #0000ff;
}


/* footer styles */

#footer-container {

	width: 100%;
}

#footer {
	color: #fff;
	background-color: #000;
	padding: 10px;
}

#footer > a:hover {
	color: #fff;
}

#refs > div, 
.parent-container > .parent,
.self-container > .self,
.children-container > .child,
.actions {
	padding: 5px;
}

a > img {
	width: 50%;
	float: left;
}

/* utilities */

.ghost {
	visibility: hidden;
}

.clearer {
	clear: both;
}

.button {
	/* cursor: pointer;*/
 }